@use '../base/variables' as v;
@use '../base/mixins' as m;

.container-grid{
    @include m.grid(2, 1);

    .photo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about-me{
            margin-bottom: 10rem;
        }

        .photo{
            max-width: 35rem;
            border-radius: 50%;
        }
    }

    .text-container{

        .phrase-container{
            margin-bottom: 10rem;

            .about-text{
                color: v.$blanco;
                font-family: v.$fuente_textos;
            }
        }
        
    }

    h1{
        font-family: v.$fuente_textos;
        letter-spacing: .5rem;
        color: v.$verdeClaro;
        padding-bottom: 5rem;
    }
}