// Fuentes
$fuente_headings: 'Libre Franklin', sans-serif;
$fuente_textos: 'Josefin Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 600px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$fondo: #2B332F;
$fondoClaro : #2E453A;
$fondoSuperClaro: #339C6B;
$blanco: #ffffff;
$negro: #000000;
$verdeClaro: #00F080;
$verde: #21C478;


$separacion: 5rem;

$negrita: 700;
$normal: 500;
$clara: 300;
